# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\lucasfranco\Documents\FAU\04_WS 2022\01_Pattern Recognition\Programming Exercises\workspace\Ex02-LinearLogisticRegression\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
